<!DOCTYPE html>
<html lang="en">
<head>
  <base target="_blank">
  <meta charset="utf-8">
  <title>Now Showing</title>
  <meta name="robots" content="noindex, nofollow">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <!-- ver1.3 -->

   <!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
</script>
<![endif]-->
  
  <!-- Place your favicon.ico and apple-touch-icon.png in the template root directory -->
  <link href="img/favicon.ico" rel="shortcut icon">
  
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet"> 
  
  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  
  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate-css/animate.min.css" rel="stylesheet">
  
  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">
  <style>
body {table.stats tr:nth-child(even) {
	background-color:#171717;
    }
  }
</style>
  </head>

<body>
<!-- Not using preloader or admin link anymore -->
<!-- Below loads the preload icon -->
<!-- <div id="preloader"></div> -->
<!-- <span style="position:absolute;top:0pt;right:0pt;color:#111"><a class="admin" href="../admin/" style="color:#111;" target="_self">Admin</a></span> -->
<!--==========================
  Hero Section
============================-->
  <section id="hero">
    <div class="hero-container">
      <div class="wow fadeIn">
        <div class="hero-logo">
<!-- enter welcome section image below -->
          <img src="<%= $advanced['web']['title_image'] %>" alt="Now Showing">
        </div>
        
        <h1>Updated <%= I18n.l Time.now.to_date, format: :long  %> </h1>
        <h2><%= $advanced['web']['headline_title'] %> <span class="rotating"><%= $advanced['web']['headliners'] %></span></h2>
        <div class="actions">
          <a href="#movies" class="btn-services">New Movies</a>
          <a href="#episodes" class="btn-services">New Episodes</a>
          <a href="#seasons" class="btn-services">New Seasons</a>

        </div>
      </div>
    </div>
  </section>
  
<!--==========================
  Header Section
============================-->
  <header id="header">
    <div class="container">
    
<!-- Insert link to logo below -->
      <div id="logo" class="pull-left">
        <a href="#hero"><img src="<%= $advanced['web']['logo'] %>" alt="PLEX"></a>
        <!-- Uncomment below if you prefer to use text -->
        <!--<h1><a href="#hero">Header 1</a></h1>-->
      </div>
        
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#hero">Home</a></li>
          <li><a href="#movies">New Movies</a></li>
          <li><a href="#episodes">New Episodes</a></li>
          <li><a href="#seasons">New Seasons</a></li>

   
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->
    
	
<!--==========================
  Statistics Section
============================-->
<section id="stats" class="stats">
<!-- Start Statistics -->
<% if stats_web == "yes" %>

  
<div class="container wow fadeInUp">
      
  <div class="row">
        
    <div class="col-md-12">
    
<!-- header of Statistics section -->
<br>
<h5 class="section-title"><%= stat_title if defined?(stat_title) %></h5>
          
<div class="section-title-divider"></div>


<table class="stats" style="border-collapse:collapse;border-spacing:0;border-style:none;width:100%;table-layout:fixed;" cellpadding="5px" width="100%">
							  <% unless t.pop_movie.nil? %>
							    <tr>
								  <td class="tg-yw4l"><b>Most watched movie:</b></td>
								  <td class="tg-yw4l"><%= t.pop_movie if defined?(t.pop_movie) %></td>
							    </tr>
							  <%end %>
							  <% unless t.pop_tv.nil? %>
							    <tr>
								  <td class="tg-yw51"><b>Most watched TV show:</b></td>
								  <td class="tg-yw51"><%= t.pop_tv if defined?(t.pop_tv) %></td>
							    </tr>
							  <% end %>
							  <% unless t.pop_artist.nil? %>
							    <tr>
								  <td class="tg-yw4l"><b>Most listened to artist:</b></td>
								  <td class="tg-yw4l"><%= t.pop_artist if defined?(t.pop_artist) %></td>
							    </tr>
							  <% end %>
							  <% unless t.movie_day_name.nil? %>
							    <tr>
								  <td class="tg-yw51"><b>Most popular day to watch movies:</b></td>
								  <td class="tg-yw51"><%= t.movie_day_name if defined?(t.movie_day_name) %></td>
						        </tr>
							  <% end %>
							  <% unless t.friendly_movie_time.nil? %>
							    <tr>
								  <td class="tg-yw4l" ><b>Most popular time to watch movies:</b></td>
							      <td class="tg-yw41" ><%= t.friendly_movie_time if defined?(t.friendly_movie_time ) %></td>
							    </tr>
							  <% end %>
							  <% unless t.tv_day_name.nil? %>
							  <tr>
								<td class="tg-yw5l"><b>Most popular day to watch TV:</b></td>
								<td class="tg-yw51"><%= t.tv_day_name if defined?(t.tv_day_name) %></td>
							  </tr>
							  <% end %>
							  <% unless t.friendly_tv_time.nil? %>
							    <tr>
								  <td class="tg-yw4l"><b>Most popular time to watch TV:</b></td>
								  <td class="tg-yw41"><%= t.friendly_tv_time if defined?(t.friendly_tv_time) %></td>
							    </tr>
							  <% end %>
							  <% unless t.friendly_top_user.nil? %>
							    <tr>
								  <td class="tg-yw5l"><b>Top user watched:</b></td>
								  <td class="tg-yw51"><%= t.friendly_top_user if defined?(t.friendly_top_user) %></td>
							    </tr>
							  <% end %>
							  <% unless t.streams.nil? %>
							    <tr>
								  <td class="tg-yw4l"><b>Most concurrent streams:</b></td>
								  <td class="tg-yw41"><%= t.streams if defined?(t.streams) %></td>
							    </tr>
							  <% end %>
							  <% unless t.movie_count_sum.nil? %>
							    <tr>
								  <td class="tg-yw51" colspan="2"><center><b>Total Movies: &nbsp; <font color="#e5a00d"><%= t.movie_count_sum if defined?(t.movie_count_sum) %></font> &nbsp;|&nbsp; Total TV Shows: &nbsp; <font color="#e5a00d"><%= t.tv_count_sum if defined?(t.tv_count_sum) %></font> 
								  <% unless t.music_count_sum.nil? %>
								  &nbsp;|&nbsp; Total Songs: &nbsp; <font color="#e5a00d"><%= t.music_count_sum if defined?(t.music_count_sum) %></font></b></center></td>
								  <% end %>
							    </tr>
							  <% end %>
							    
						</table>


<!-- Place text below between P tag for text under section header -->           
<p class="section-description">  </p>
        
     </div>
      
  </div>
 
<% end %>

</div> 

</section>

<!--==========================
  Movie Section
============================-->
 <section id="movies" class="movies">
<!-- start of new movies -->
<% if movies != [] %>

  
<div class="container wow fadeInUp">
      
  <div class="row">
        
    <div class="col-md-12">
    
<!-- header of New Movies section -->
<br>
<h5 class="section-title"><%= I18n.t :new_movies %></h5>
          
<div class="section-title-divider"></div>

<!-- Place text below between P tag for text under section header -->           
<p class="section-description">  </p>
        
     </div>
      
  </div>
 


     
<div class="row">

<!-- start loop here -->

<% movies.each do |movie| %> 

  <div class="col-md-3">
      <a class="portfolio-item" style="background-image: url(<%= movie[:image] %>);" href="<%= movie[:imdb] %>">
    
    <div class="details">
              <h4><%= movie[:title] %> (<%= movie[:date] %>) </h4>
		<h5 class="bold"><%= movie[:tagline] %></h5>
              <span class="limittext"><%= movie[:synopsis] %></span>
             
    </div>
    
      </a>

</div> 
<% end %>
</div>
<% end %>

</div> 

</section>






<!--==========================
  New TV Shows Section
============================-->
 <section id="episodes" class="movies">
<!-- start new episodes here -->						
<% if new_episodes != [] %>

<div class="container wow fadeInUp">
      
  <div class="row">
        
    <div class="col-md-12">
    
<!-- header of New TV Show section -->
<h5 class="section-title">

<%= I18n.t :new_episodes%>

</h5>
          
<div class="section-title-divider"></div>

<!-- Place text below between P tag for text under section header -->           
<p class="section-description">  </p>
        
     
</div>
      
</div>
 


     
<div class="row">

<!-- start new episodes loop here -->
<% new_episodes.each do |episode| %>

  
<div class="col-md-3">
      
<a class="portfolio-item" style="background-image: url(
<%= episode[:image] %>);" href="<%= episode[:imdb] %>">
    
    
<div class="details">
              
<h4><%= episode[:series_name] %></h4>
		
<h5 class="bold">
<%= episode[:episode_number] %> - <%= episode[:title] %>
</h5>
              
<span class="limittext"><%= episode[:synopsis] %></span>
             
    </div>
    
      </a>

</div> 
<% end %>
</div>
<% end %>

</div> 

</section>




<!--==========================
  New TV Seasons Section
============================-->
 <section id="seasons" class="movies">
<!-- start New seasons -->

<% if new_seasons != [] %>

<div class="container wow fadeInUp">
      
  <div class="row">
        
    <div class="col-md-12">
    
<!-- header of New TV seasons section -->
<h5 class="section-title">

<%= I18n.t :new_seasons %>:


</h5>
          
<div class="section-title-divider"></div>

<!-- Place text below between P tag for text under section header -->          
<p class="section-description"> </p>
        
     
</div>
      
</div>
 


     
<div class="row">

<!-- start new seasons loop here -->
<% new_seasons.each do |season| %>

  
<div class="col-md-3">
      
<a class="portfolio-item" style="background-image: url(
<%= season[:image] %>);" href="<%= season[:imdb] %>">
    
    
<div class="details">
              
<h4><%= season[:series_name] %></h4>
		
<h5 class="bold">
<%= I18n.t :seasons, count: season[:season].length %><%= season[:season].min %>-<%= season[:season].max %>
</h5>
              
<span class="limittext"><%= season[:synopsis] %></span>
             
    </div>
    
      </a>

</div> 
<% end %>
</div>
<% end %>

</div> 

</section>

    
<!--==========================
  Footer
============================--> 
  <footer id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="copyright">
              <%= $advanced['web']['footer'] %>
            </div>
            <div class="credits">
			    <br>
			     <%= I18n.t :credits_sentence %><br><br>
            </div>
          </div>
        </div>
      </div>
  </footer>
  
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    
  <!-- Required JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/morphext/morphext.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/stickyjs/sticky.js"></script>
  <script src="lib/easing/easing.js"></script>
  
  <!-- Template Specisifc Custom Javascript File -->
  <script src="js/custom.js"></script>
  
    
</body>
</html>
